CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_RTTI=y
CONFIG_FREERTOS_HZ=1000
CONFIG_STACKCHAN_WIFI_SSID="XDD-EX-PKU"
CONFIG_STACKCHAN_WIFI_PASSWORD="h6Zab5Zd3GeC"
CONFIG_STACKCHAN_XIAOZHI_OTA_URL="https://api.tenclass.net/xiaozhi/ota/"
CONFIG_STACKCHAN_FIRMWARE_OTA_ENABLED=y
CONFIG_STACKCHAN_FIRMWARE_OTA_TIMEOUT_MS=60000
CONFIG_STACKCHAN_RECORD_UPLOAD_URL="http://192.168.21.15:8091/upload"
CONFIG_STACKCHAN_STREAM_TTS_URL="http://192.168.21.15:8091/stream-speak"
CONFIG_STACKCHAN_TTS_URL="http://192.168.21.15:8091/speak?text="
CONFIG_STACKCHAN_TTS_TEXT="Hello, I am Xiaopai"
CONFIG_STACKCHAN_TTS_VOLUME=180
CONFIG_STACKCHAN_TTS_MAX_BYTES=2097152
CONFIG_STACKCHAN_RECORD_SAMPLE_RATE=16000
CONFIG_STACKCHAN_RECORD_CHUNK_MS=40
CONFIG_STACKCHAN_PREROLL_MS=800
CONFIG_STACKCHAN_VOICE_START_THRESHOLD=1400
CONFIG_STACKCHAN_VOICE_STOP_THRESHOLD=1000
CONFIG_STACKCHAN_MIC_MAGNIFICATION=8
CONFIG_STACKCHAN_RECORD_MAX_MS=15000
CONFIG_STACKCHAN_SILENCE_STOP_MS=1000
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
