source "/home/myendless/stack-chan/esp-idf/components/bootloader/Kconfig.projbuild"
source "/home/myendless/stack-chan/esp-idf/components/esp_app_format/Kconfig.projbuild"
source "/home/myendless/stack-chan/esp-idf/components/esp_rom/Kconfig.projbuild"
source "/home/myendless/stack-chan/esp-idf/components/esptool_py/Kconfig.projbuild"
source "/home/myendless/stack-chan/esp-idf/components/partition_table/Kconfig.projbuild"
source "/home/myendless/xiaopai/stack-chan/main/Kconfig.projbuild"